@import "primeicons/primeicons.css";

#root {
  max-width: 3840px;
  margin: 0;
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: row;
  padding: 1em;
  justify-content: space-between;
  box-shadow: 0px 0 18px rgba(0, 0, 0, 0.1);
}

main {
  flex: 1;
  place-content: center;
}

.header-text {
  color: #5cb874;
  font-size: 3rem;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-transform: capitalize;
  padding-left: 100px;
}

.header-nav {
  padding-right: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-nav a {
  font-size: 24px;
  padding-left: 30px;
}

.user-name {
  font-weight: 700;
  text-align: center;
  margin-left: 100px;
}

footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-copyright {
  background-color: color-mix(in srgb, white, transparent 95%);
  margin: 2em;
  width: 50%;
  padding: 1em;
}

.designed-by {
  font-size: 0.9em;
}

.green-color {
  color: #5cb874;
}

.not-found {
  color: gray;
  font-weight: bold;
  font-size: 200px;
  margin: 0;
  line-height: 175px;
}

.not-found-button {
  background-color: #2563eb;
  color: white;
}

.register-form-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 40px;
}

.register-size {
  max-width: 29rem;
}

.register-layout {
  justify-content: space-between;
}

.landing-text {
  padding: 0;
}

.feature-cards-container a:link,
.feature-cards-container a:visited {
  text-decoration: inherit;
  color: inherit;
}

.remove-link-style:link,
.remove-link-style:visited {
  text-decoration: inherit;
  color: inherit;
}

.feature-card {
  padding: 40px 30px;
  box-shadow: 0px 0 30px rgba(0, 0, 0, 0.1);
  width: 20rem;
  transition: transform 0.3s;
}

.feature-card:hover {
  transform: scale(1.1);
}

.zoom-animation {
  transition: transform 0.3s;
}

.zoom-animation:hover {
  transform: scale(1.1);
}

.feature-card h3 {
  font-size: 1.75rem;
}

.feature-card-image {
  width: 50px;
}

.court-nav-text span {
  color: #5cb874;
}

.users-table-container td {
  text-align: left;
}

.users-table-container th {
  background-color: #f9fafb;
}

.p-datatable tr:hover {
  background-color: #f0f0f0; /* Light gray background */
  cursor: pointer;
}
